{% extends 'core/base.html' %}
{% load staticfiles %}
{% block title %}
    HouseMD System
{% endblock %}
{% block content %}
<form class="form-group" action="/forgot-password/" method="post">
                        {% csrf_token %}
                        <label for="email" class="form-lbl">Email</label>
                        <input name="email" type="text" placeholder="Example" class='form-control field'/>
                        <div class="mt">
                               <input type="submit" value="Send" class='btn btn-primary m-btn'/>
                        </div>
                    </form>
{% endblock %}